* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    width: 80%;
    background-color: #f0f0f0;
}

.inner-container {
    border: 2px solid black;
    padding: 20px;
    width: 45%;
    background-color: #f0f0f0;
}

.header {
    color: blue;
    font-size: 24px;
    text-align: left;
    margin-left: 30px;
}

.sideA,
.sideB,
.sideC {
    margin-top: 20px;
    margin-left: 30px;
    background-color: #282930;
    border: 1px solid #666666;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 11px;
    width: 50px;
}

.CalculateButton4,
.CalculateButton1,
.CalculateButton2,
.CalculateButton3 {
    margin-left: 100px;
    margin-top: 20px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    width: 80%;
    background-color: #f0f0f0;
}

.inner-container {
    border: 2px solid black;
    padding: 20px;
    width: 45%;
    background-color: #f0f0f0;
}

.header {
    color: blue;
    font-size: 24px;
    text-align: left;
    margin-left: 30px;
}

.sideA,
.sideB,
.sideC {
    margin-top: 20px;
    margin-left: 30px;
    background-color: #282930;
    border: 1px solid #666666;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 11px;
    width: 50px;
}

.CalculateButton {
    margin-left: 80px;
    margin-top: 20px;
}

.answerPolynomial{
    margin-top: 10px;

}